.navbar {
  display: flex;
  align-items: center;
  direction: rtl;
  position: fixed;
  width: 100%;
  background-color: white;
}

.hidden-menu {
  position: fixed;
  top: 0;
  left: -1000px;
}

.active-menu {
  display: block;
  position: fixed;
  width: 100%;
  top: 65px;
  right: 0;
  transition: all ease-in-out 150ms;
  background-color: white;
}

.nav-logo {
  margin: 40px 40px 40px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-menu {
  display: none;
  cursor: pointer;
}

.nav-items {
  margin: 20px 0px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.nav-items > ul > li {
  padding-right: 15px;
  color: rgb(100, 102, 100);
  font-size: 15px;
}

@media (max-width: 720px) {
  .navbar {
    direction: ltr;
    justify-content: space-between;
    height: 65px;
  }
  .nav-logo {
    margin-left: 18px;
  }

  .nav-menu {
    cursor: pointer;
    margin: 0 18px;
    display: block;
  }

  .nav-items {
    display: none;
  }
}

@media (min-width: 1024px) {
  .navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-right: 80px;
  }
}
