.services-main {
  width: 100%;
  margin-top: 40px;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(229, 231, 233, 0.616);
  margin-bottom: 30px;
}

.services-header {
  margin: 55px;
  font-size: 40px;
  color: rgba(31, 30, 30, 0.829);
}

.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.services-wrapper {
  display: flex;
  align-items: center;
  background-color: white;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  width: 360px;
  padding: 10px;
}

.services-title {
  font-size: 17px;
  margin-bottom: 8px;
}

.services-description {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.603);
}

.services-image {
  width: 65px;
  margin-left: 5px;
}

@media (max-width: 1100px) {
  .services-wrapper {
    width: 250px;
    padding: 30px 10px;
  }
}

@media (max-width: 950px) {
  .services-wrapper {
    width: 220px;
    flex-direction: column;
    padding: 10px 20px 30px;
  }
  .services-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .services-main {
    margin-top: 0;
  }
  
  .services-container {
    gap: 35px;
  }

  .services-image {
    width: 50px;
  }

  .services-header {
    font-size: 20px;
    font-weight: 800;
  }

  .services-title {
    font-size: 13px;
  }

  .services-wrapper {
    width: 80px;
    padding: 10px 15px 10px 18px;
    margin: auto;
  }

  .services-description {
    display: none;
  }
}
