.services-main {
  width: 100%;
  margin-top: 40px;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(229, 231, 233, 0.616);
}

.services-header {
  margin: 55px;
  font-size: 40px;
  color: rgba(31, 30, 30, 0.829);
}

.services-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}

.services-wrapper {
  display: flex;
  align-items: center;
  background-color: white;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  width: 360px;
  padding: 10px;
  cursor: pointer;
}

.services-wrapper:nth-child(1):hover,
.services-wrapper:nth-child(2):hover,
.services-wrapper:nth-child(3):hover {
  color: rgb(31, 180, 106);
  border: 2px solid rgb(31, 180, 106);
}

.services-wrapper:nth-child(4):hover {
  color: rgb(202, 35, 146);
  border: 2px solid rgb(202, 35, 146);
}
.services-wrapper:nth-child(5):hover,
.services-wrapper:nth-child(6):hover {
  color: rgb(31, 66, 180);
  border: 2px solid rgb(31, 66, 180);
}

.services-wrapper:nth-child(7):hover,
.services-wrapper:nth-child(8):hover,
.services-wrapper:nth-child(10):hover,
.services-wrapper:nth-child(11):hover {
  color: rgb(230, 44, 44);
  border: 2px solid rgb(230, 44, 44);
}
.services-wrapper:nth-child(9):hover {
  color: rgb(56, 214, 188);
  border: 2px solid rgb(56, 214, 188);
}
.services-wrapper:nth-child(12):hover {
  color: rgb(175, 31, 180);
  border: 2px solid rgb(175, 31, 180);
}

.services-title {
  font-size: 17px;
  margin-bottom: 8px;
}

.services-description {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.603);
}

.services-image {
  width: 65px;
  margin-left: 5px;
}

@media (max-width: 1100px) {
  .services-wrapper {
    width: 250px;
    padding: 30px 10px;
  }
}

@media (max-width: 950px) {
  .services-wrapper {
    width: 220px;
    flex-direction: column;
    padding: 10px 20px 30px;
  }
  .services-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .services-main {
    margin-top: 0;
  }

  .services-container {
    gap: 35px;
  }

  .services-image {
    width: 50px;
  }

  .services-header {
    font-size: 20px;
    font-weight: 800;
  }

  .services-title {
    font-size: 13px;
  }

  .services-wrapper {
    width: 80px;
    padding: 10px 15px 10px 18px;
    height: 8rem;
    line-height: 1.3rem;
    text-align: center;
    margin: auto;
  }

  .services-description {
    display: none;
  }
}
