.main-app {
  min-height: 100vh;
  direction: rtl;
}

.app-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  position: relative;
  z-index: 1;
}
.app-img {
  margin-top: 4rem;
}
.app-img img {
  min-height: 70vh;
  width: 50vw;
}
.app-text {
  margin: 6rem 3rem;
  cursor: default;
}
.app-text h1 {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color: rgb(110, 107, 107);

}
.app-text p {
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 0.9rem;
  margin-left: 6rem;
  color: rgb(112, 112, 112);
}
.app-card {
  /* position: relative;
  transform: translateY(-50%);
  margin-bottom: 1rem; */
  z-index: 2;
}


/* responsive */

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
}
